* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
 font-size: 18px;
}

a {
 text-decoration: none;
}

li {
  list-style: none;
}

body {
 /*Background pattern below from: http://lea.verou.me/css3patterns/#tablecloth*/
 background-color:white;
 background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
 linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
 background-size:50px 50px;

 font-family: 'Varela Round', sans-serif;
}

input[type='text'] {
 width: 90%;
 height: 2rem;
 padding: 0.5rem;
 margin-top: 5px;
 margin-bottom: 5px;
 text-align: center;
}

input[type='date'] {
 width: 90%;
 height: 2rem;
 padding: 0.5rem;
 margin-top: 5px;
 margin-bottom: 5px;
 text-align: center;
}

input[type='number'] {
 width: 90%;
 height: 2rem;
 padding-left: 0.5rem;
 margin-top: 5px;
 margin-bottom: 5px;
}

#top-button {
 display: inline-block;
 margin-top: 5px;
 margin-bottom: 5px;
 margin-top: 13px;
}

#button {k;
 margin-top: 5px;
 margin-bottom: 5px;
}

.rest-enter-area {
  padding: 10px;
  border-top: royalblue 1px solid;
  border-left: royalblue 1px solid;
  border-right: royalblue 1px solid;
  border-bottom: royalblue 1px solid;
  width: 90%;
  margin: 0px auto;
  background-color: lightgreen;
  font-size: 1.2em;
  text-align: center;
}

.rest-list-title {
  font-size: 1.4em;
  background-color: lightblue;
  border: blue 1px solid;
  width: 90%;
  margin: auto;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.rest-list {
  background-color: #FFFFF3;
  border-left: blue 1px solid;
  border-right: blue 1px solid;
  border-bottom: blue 1px solid;
  width: 90%;
  margin: auto;
  padding: 5px 10px 5px 10px;
}

#rating {
  text-align: center;
}

#info {
  text-align: center;
}
