<header ng-controller="HeaderController as header">
  <h1>Hello {{header.current_user.email}}, log your culinary journey here.</h1>
</header>

<main ng-controller="RestaurantController as rest">
  <h2>Log Your Restaurant</h2>
  <form ng-submit="rest.createRestaurant()">
    <input type="text" placeholder="Restaurant Name">
    <input type="text" placeholder="Restaurant Type">
    <input type="text" placeholder="Restaurant Location">
    <input type="date" placeholder="Dined On">
    <input type="number" placeholder="Rating">
    <input type="text" placeholder="Comments">
    <input type="submit" value="Add Log">
  </form>

  <h2>Past Logs</h2>
  {{rest.current_user_restaurants}}
  <ul>
    <li ng-repeat="r in rest.current_user_restaurants">
      Name: {{r.name}}
      <br />
      Type: {{r.rest_type}}
      <br />
      Location: {{r.address}}
      <br />
      Dined On: {{r.dined_at}}
      <br />
      Rating: {{r.rating}}
      <br />
      Comments: {{r.comments}}
    </li>
  </ul>


</main>
